mat-toolbar {
    display: flex;
    flex-direction: row;
}

mat-toolbar>mat-toolbar-row {
    width: auto;
}

mat-toolbar>mat-toolbar-row>span>a {
    text-decoration: none;
    color: white;
}

mat-toolbar>mat-toolbar-row>span>a:hover {
    text-decoration: underline;
}



.login-nav {
    justify-content: end;
    flex-grow: 5;
}