<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1>{{title}}</h1>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a routerLink="/technologies">Technologies</a></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span><a routerLink="/configuration">Configure Technologies</a></span>
    </mat-toolbar-row>
    <mat-toolbar-row class="login-nav">
        <span><a routerLink="/login">Login</a></span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>