<div>
    <h1>Add a Technology</h1>
    <form name="form" (ngSubmit)="myform.form.valid && onSubmit()" #myform="ngForm" novalidate>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="name" required [(ngModel)]="model.name" name="name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select required [(ngModel)]="model.category" name="category">
                <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ring</mat-label>
            <mat-select [(ngModel)]="model.ring" name="ring">
                <mat-option *ngFor="let ring of rings" [value]="ring">{{ring}}</mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Ring Description</mat-label>
            <input matInput id="ringdescription" [(ngModel)]="model.ringdescription" name="ringdescription" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput id="description" required [(ngModel)]="model.description" name="description" />
        </mat-form-field>

        <!-- <mat-checkbox class="form-control" id="published" [(ngModel)]="model.published" name="published">Publish
            technology?
        </mat-checkbox> -->

        <button mat-flat-button color="primary" type="submit">Save Technology</button>

    </form>