<div>
    <h1>Add a Technology</h1>
    <form name="form" (ngSubmit)="myform.form.valid && onSubmit(myform.form.value)" #myform="ngForm" novalidate>
        <label>Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" />

        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" required [(ngModel)]="model.category" name="category">
                <option value="" disabled selected>Select the category.</option>
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ring">Ring</label>
            <select class="form-control" id="ring" required [(ngModel)]="model.ring" name="ring">
                <option value="" disabled selected>Select the ring.</option>
                <option *ngFor="let ring of rings" [value]="ring">{{ring}}</option>
            </select>
        </div>

        <label>Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="model.description"
            name="description" />

        <mat-checkbox class="form-control" id="published" [(ngModel)]="model.published" name="published">Publish
            technology?</mat-checkbox>
        <button class="button" type="submit">Save Technology</button>
    </form>

    <h1>Edit Technologies</h1>
    <table mat-table *ngIf="(allTechnologies$ | async) as technologies" [dataSource]="technologies"
        class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let technology"> {{technology.name}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let technology"> {{technology.category}} </td>
        </ng-container>
        <ng-container matColumnDef="ring">
            <th mat-header-cell *matHeaderCellDef> Ring </th>
            <td mat-cell *matCellDef="let technology"> {{technology.ring}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let technology"> {{technology.description}} </td>
        </ng-container>
        <ng-container matColumnDef="published">
            <th mat-header-cell *matHeaderCellDef> Published </th>
            <td mat-cell *matCellDef="let technology"> {{technology.published}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let technology"> <mat-icon>edit</mat-icon> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>